.shopping-cart {
  min-width: 450px;
}

h2 {
  font-size: 30px;
}

.order {
  // max-height: 300px;
  max-width: max-content;
  overflow: scroll;
}

.app-icon {
  background-color: whitesmoke;
  border-radius: 15px;
  width: 48px;
  height: 48px;
}
