<app-dialog title="Dirección">
  <mat-form-field color="accent" class="w-100">
    <mat-label>Seleccionar dirección de envío</mat-label>
    <mat-select [(value)]="direccion" [compareWith]="compareWith">
      <mat-option *ngFor="let direccion of addresses$ | async" [value]="direccion">
        <span>{{direccion.alias}}</span> |
        <small>Dirección: {{direccion.calle}} {{direccion.numero}}</small>
      </mat-option>
      <mat-option [value]="null">
        <span>No seleccionar</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary" class="w-100 mb-4" [mat-dialog-close]="true" (click)="onSelect()">
    Continuar
  </button>
</app-dialog>