.item-img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  object-fit: cover;
}

.item-name {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
  font-size: 20px;
  margin-top: 6px;
  width: 100%;
}

.item-price {
  font-size: 16px;
  font-weight: 500;
}

.item-count {
  font-size: 18px;
  font-weight: 500;
}
