<div class="container">
  <!-- Search section -->
  <section class="search">
    <h2>Encuentra las mejores ofertas en
      <br><span>Mendoza</span>
    </h2>
    <p>Listado de los mejores platos, postres, desayunos, bebidas…</p>
    <div class="d-flex flex-row">
      <div class="flex-fill app-search">
        <input matInput placeholder="Por ejemplo, pizza, hamburguesa ...">
      </div>
      <button mat-flat-button color="primary" class="ml-3"> Buscar </button>
    </div>
  </section>
  <!-- Search section end -->

  <!-- Discount section -->
  <section class="d-flex align-items-center discount">
    <div class="flex-grow-1">
      <h3>10% Descuento</h3>
      <span>Si retiras tu pedido en uno de nuestros locales</span>
    </div>
    <img src="assets/images/menu/discount.png" alt="">
  </section>
  <!-- Discount section end -->

  <app-categories></app-categories>

  <div class="row mb-5">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let item of manufactured">
      <app-card [data]="item" (click)="openDialog(item)"> </app-card>
    </div>
  </div>

  <!-- Remover cuando sea necesario -->
  <mat-form-field hidden="true">
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>
</div>
