<div mat-dialog-title class="d-flex justify-content-between align-items-end app-dialog">
  <div class="dialog-img">
    <img onerror="this.src='assets/images/cards/card.jpg'" [src]="localData.imagen">
    <div class="dialog-button">
      <button mat-button mat-icon-button [mat-dialog-close]="true">
        <mat-icon class="material-icons-outlined"> close </mat-icon>
      </button>
    </div>
    <div class="card-time">
      <span>{{ time }}</span>
    </div>
  </div>
</div>
<mat-dialog-content class="app-content mx-0 py-4">
  <div class="d-flex justify-content-between">
    <div class="card-title">
      {{ data.denominacion | titlecase }}
    </div>
    <div class="card-price">
      {{ data.precio | currency:"ARS":"symbol" }}
    </div>
  </div>
  <div class="my-2">
    {{ categoria | titlecase }}
  </div>
  <div class="my-2">
    {{ localData.descripcion | titlecase }}
  </div>
  <p class="card-ingredients" *ngIf="ingredientes">Ingredientes: {{ ingredientes }}</p>
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="d-flex flex-grow-1 align-items-center">
      <p class="m-0 mr-3">Cantidad</p>
      <mat-form-field class="card-quantity">
        <mat-select [(value)]="cantidad">
          <ng-container *ngFor="let quantity of [].constructor(15); let i=index">
            <mat-option value="{{ i + 1 }}">{{ i + 1 }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-fill">
      <button mat-raised-button color="primary" class="card-button px-4 ml-auto" [mat-dialog-close]="true"
        (click)="addProductToCart()">
        Agregar a mi orden
      </button>
    </div>
  </div>
</mat-dialog-content>
