<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="example-toolbar">
    <!-- Logo Image -->
    <img class="logo-icon ml-4" routerLink="/menu" src="assets/images/logos/angular.png">
    <a><span class="mx-2" routerLink="/index">Delivery</span></a>
    <!-- Spacer -->
    <div class="mr-auto"></div>
    <a mat-stroked-button class="text-decoration-none" (click)="onSignUp()">Registrate</a>
    <a mat-flat-button class="text-decoration-none ml-3" color="primary" (click)="onSignIn()">Ingresar</a>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      position="end">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
