.title {
  font-weight: 600;
  font-size: 20px;
}

.address {
  font-size: 16px;
}

.order {
  font-weight: 600;
  font-size: 20px;
}

.mat-cell {
  padding: 0;
}

.mat-footer-cell {
  padding: 0;
  font-weight: 500;
  font-size: 16px;
}

.mat-column-precio {
  flex: 0 0 90px !important;
}
