<div class="d-flex align-items-center justify-content-between item-card">
  <div class="d-flex">
    <img
      src="https://images.deliveryhero.io/image/pedidosya/products/264139-100ba4c6-34d6-4c94-8932-8df76d644de5.jpg?quality=90&width=248"
      alt="" class="item-img">
    <div class="pl-3">
      <div class="my-1 item-name">Ítem 1</div>
      <div class="my-1 item-price">$ 180.00</div>
    </div>
  </div>
  <div class="d-flex flex-column align-content-center">
    <div class="d-flex align-items-center mb-2">
      <button mat-button mat-icon-button>
        <mat-icon>remove</mat-icon>
      </button>
      <div class="mx-2 item-count">2</div>
      <button mat-button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <button mat-flat-button color="primary" class="w-100">Eliminar</button>
  </div>
</div>
