/* EMPTY STATE */
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-state .mat-icon {
  font-size: 90px;
  height: 90px;
  width: 90px;
  color: #0000000f;
}

.empty-state span {
  font-size: 18px;
  font-weight: 500;
  color: #00000080;
}
