<div class="title mb-3">Categorías</div>
<div class="mb-4">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <a class="category-group-item" routerLink="/menu" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{exact: true}">
        <h1 class="category-icon"> 🍴 </h1>
        <p> Todos </p>
      </a>
    </ng-template>
    <ng-template carouselSlide *ngFor="let c of categories">
      <a class="category-group-item" routerLink="/menu" routerLinkActive="router-link-active"
        [queryParams]="{ category: c.url }">
        <h1 class="category-icon"> {{ c.icon }} </h1>
        <p> {{ c.name }} </p>
      </a>
    </ng-template>
  </owl-carousel-o>
</div>