.title {
  font-weight: 500;
  font-size: 35px;
}

.category-group-item {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 90px;
  height: 140px;
  padding: 10px;
  margin: 10px;
  border-radius: 40px;
  color: #707070;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.05);
}

.category-image {
  padding: 16px;
}

.category-image-background {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
}

.router-link-active {
  background: rgb(255, 193, 7, 0.7) !important;
}

.category-group-item:hover {
  background: rgba(0, 0, 0, 0.1);
}
