<app-dialog [title]="''">
  <div class="text-center">
    <mat-icon class="material-icons-outlined icon">schedule</mat-icon>
    <div class="title py-2">
      Abre a las 20:00
    </div>
    <div class="info px-4 py-3">
      El restaurante se encuentra cerrado, los pedidos se encuentran deshabilitados hasta el inicio del
      horario de atención.
    </div>
  </div>
  <div class="d-flex flex-row-reverse py-3">
    <button mat-flat-button color="primary" [mat-dialog-close]="true">Cerrar</button>
  </div>
</app-dialog>
