<app-dialog [title]="'Registrate'">
  <div class="my-2">
    <button mat-raised-button class="google-button w-100">
      <img src="assets/images/icons/google-logo.png" class="mr-2"> Continuar con Google
    </button>
  </div>
  <div class="d-flex align-content-center mt-4 mb-2">
    <hr class="flex-fill">
    <p class="m-0 px-3">O registrate con tu email</p>
    <hr class="flex-fill">
  </div>
  <form novalidate [formGroup]="signUpFormGroup">
    <mat-form-field class="w-100">
      <mat-label>Nombre Completo</mat-label>
      <input matInput type="text" required formControlName="displayName" placeholder="Ingrese su nombre completo.">
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Teléfono</mat-label>
      <input matInput type="text" required formControlName="phone" placeholder="Ingrese su número de teléfono.">
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" required formControlName="email" placeholder="Ingrese su correo electrónico.">
    </mat-form-field>
    <mat-form-field class="pb-2 w-100">
      <mat-label>Contraseña</mat-label>
      <input matInput required [type]="hide ? 'password' : 'text'" formControlName="password"
        placeholder="Ingrese su contraseña.">
      <mat-icon class="material-icons-outlined" matSuffix (click)="hide = !hide">
        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button mat-flat-button color="primary" class="w-100 mb-4" routerLink="/menu">Registrarme</button>
  </form>
  <div class="text-center mb-4">
    <p>¿Ya tienes cuenta? <a [routerLink]="[]" (click)="onSignIn()">Inicia sesión</a> </p>
  </div>
</app-dialog>
