.mat-icon {
  cursor: pointer;
  color: grey;
  font-size: 140%;
}

.mat-flat-button {
  border-radius: 15px;
  height: 48px;
  font-weight: bold;
  font-size: 16px;
}

.mat-icon:hover {
  color: #ffb300;
}

.facebook-button {
  background-color: #3b5998;
}

.google-button {
  background-color: #fff;
}
