<div class="order-card px-3 py-4">
  <div class="d-flex align-items-center justify-content-between pb-3">
    <div class="order">ORDEN #3122</div>
    <div class="status-chip entregado">Entregado</div>
  </div>
  <div class="d-flex align-items-center">
    <mat-icon class="material-icons-outlined icon">schedule</mat-icon>
    <div class="time">20:30 • Envío a domicilio</div>
  </div>
  <div class="date pt-1">Lun, Nov 12, 6:26 PM</div>
  <div class="details">1- Empanada de carne, 1 - Papas grandes, 1 - Coca Cola 500ml</div>
  <div class="d-flex pt-3">
    <button mat-stroked-button class="w-100 mr-2">
      <mat-icon class="material-icons-round" [inline]="true">receipt</mat-icon> Ver factura
    </button>
    <button mat-stroked-button class="w-100 ml-2">
      <mat-icon class="material-icons-round" [inline]="true">sync</mat-icon> Repetir orden
    </button>
  </div>
</div>
