h2 {
  font-size: 24px;
}

.app-icon {
  background-color: whitesmoke;
  border-radius: 15px;
  width: 48px;
  height: 48px;
}

.app-icon {
  background-color: whitesmoke;
  border-radius: 15px;
  width: 48px;
  height: 48px;
}

.cancel-order {
  text-align: center;
  cursor: pointer;

  &:hover {
    color: #ffa000;
  }
}
