.mat-icon {
  cursor: pointer;
  color: grey;
  font-size: 140%;
}

.mat-flat-button {
  height: 48px;
  font-weight: 600;
  font-size: 16px;
}

.mat-icon:hover {
  color: #ffb300;
}

.google-button {
  background-color: #fff;
  border-radius: 5px !important;
  height: 48px;
  font-size: 16px;
}
