<mat-sidenav-container class="sidenav-container" [hasBackdrop]="(isHandset$ | async) ? 'true' : 'false'">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" position="end">
    <app-shopping-cart></app-shopping-cart>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngIf="userExists; else elseTemplate">
      <mat-toolbar class="example-toolbar">
        <a>
          <img class="logo-icon ml-2" routerLink="/menu" src="assets/images/logos/logo.png">
          <span [hidden]="(isHandset$ | async)" class="mx-2" routerLink="/menu">El buen sabor</span>
        </a>
        <span class="flex-grow-1"></span>
        <button mat-button class="toolbar-button" [matMenuTriggerFor]="menu">
          <div class="mat-button-wrapper">
            <img src="assets/images/avatars/customer.png" class="avatar">
            <span [hidden]="(isHandset$ | async)" class="mx-2"> {{userName}} {{userLastName}}</span>
            <mat-icon [hidden]="(isHandset$ | async)" class="material-icons-round" [inline]="true">keyboard_arrow_down
            </mat-icon>
          </div>
          <div matripple="" class="mat-ripple mat-button-ripple"></div>
          <div class="mat-button-focus-overlay"></div>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/menu">
            <mat-icon class="material-icons-outlined">restaurant</mat-icon>
            <span>Menú</span>
          </button>
          <button mat-menu-item routerLink="/my-addresses">
            <mat-icon class="material-icons-outlined">place</mat-icon>
            <span>Mis direcciones</span>
          </button>
          <button mat-menu-item routerLink="/my-orders">
            <mat-icon class="material-icons-outlined">assignment</mat-icon>
            <span>Mis ordenes</span>
          </button>
          <button mat-menu-item routerLink="/my-profile">
            <mat-icon class="material-icons-outlined">account_circle</mat-icon>
            <span>Mi perfil</span>
          </button>
          <button mat-menu-item (click)="onSignOut()">
            <mat-icon class="material-icons-outlined">exit_to_app</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
        <div class="toolbar-separator"></div>
        <button mat-icon-button class="toolbar-button" (click)="drawer.toggle()">
          <mat-icon class="material-icons-outlined" [matBadge]="cartService.itemsLength" matBadgeColor="warn">
            shopping_bag
          </mat-icon>
        </button>
      </mat-toolbar>
    </ng-container>
    <ng-template #elseTemplate>
      <mat-toolbar class="example-toolbar">
        <a>
          <img class="logo-icon ml-2" routerLink="/menu" src="assets/images/logos/logo.png">
          <span [hidden]="(isHandset$ | async)" class="mx-2" routerLink="/menu">El buen sabor</span>
        </a>
        <span class="flex-grow-1"></span>
        <a mat-stroked-button class="text-decoration-none" (click)="onSignUp()">Registrate</a>
        <a mat-flat-button class="text-decoration-none ml-3" color="primary" (click)="onSignIn()">Ingresar</a>
      </mat-toolbar>
    </ng-template>
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
