<app-dialog [title]="'Dirección'">
  <mat-horizontal-stepper #stepper>
    <mat-step label="Dirección de entrega" [stepControl]="addressFormGroup">
      <form novalidate [formGroup]="addressFormGroup">
        <mat-form-field class="w-100">
          <mat-label>Dirección</mat-label>
          <textarea matInput required formControlName="direccion" placeholder="Ej. San Martin 454"></textarea>
        </mat-form-field>
        <div class="d-flex">
          <div class="flex-fill pr-2">
            <mat-form-field class="w-100">
              <mat-label>Ciudad</mat-label>
              <input matInput required formControlName="ciudad" placeholder="Ej. Mendoza">
            </mat-form-field>
          </div>
          <div class="flex-fill px-2">
            <mat-form-field class="w-100">
              <mat-label>Localidad</mat-label>
              <input matInput required formControlName="localidad" placeholder="Ej. 4ta Sección">
            </mat-form-field>
          </div>
          <div class="flex-fill pl-2">
            <mat-form-field class="w-100">
              <mat-label>Código Postal</mat-label>
              <input matInput required formControlName="codigoPostal" #postalCode maxlength="4" placeholder="Ej. 5500">
              <mat-hint align="end">{{postalCode.value.length}} / 4</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field class="w-100">
          <mat-label>Aclaraciones</mat-label>
          <textarea matInput formControlName="aclaraciones"
            placeholder="Instrucciones de entrega, por ejemplo, frente a …"></textarea>
        </mat-form-field>
        <div class="pt-3">
          <button mat-flat-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Confirmá tu ubicación" [stepControl]="addressFormGroup">
      <form novalidate [formGroup]="addressFormGroup">
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
            (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map>
        {{ addressFormGroup.value | json }}
        <div class="pt-3">
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-flat-button color="primary">Confirmar ubicación</button>
        </div>
      </form>
    </mat-step>
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="edit">
      <mat-icon class="material-icons-outlined">edit_location</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</app-dialog>
