<app-dialog title="Mi Orden">
  <div class="title pb-3">Detalle de entrega</div>
  <div class="address">Delivery • San Martín 454, Mendoza, Mendoza </div>
  <mat-form-field color="accent" class="w-100 py-3">
    <mat-label>Agregar aclaraciones...</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <div class="order">Articulos</div>
  <mat-table [dataSource]="detailDataSource" class="mb-4">
    <ng-container *ngFor="let def of detailColumns" [matColumnDef]="def" [ngSwitch]="def">
      <ng-container *ngSwitchCase="'precio'">
        <mat-cell *matCellDef="let row"> {{ row[def] | currency }} </mat-cell>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <mat-cell *matCellDef="let row"> {{ row[def] }} </mat-cell>
      </ng-container>
    </ng-container>
    <mat-row *matRowDef="let row; columns: detailColumns"></mat-row>
  </mat-table>
  <mat-radio-group color="primary" class="d-flex flex-column">
    <mat-radio-button value="1">Contra reembolso</mat-radio-button>
    <div class="d-flex flex-row justify-content-between">
      <mat-radio-button value="2">Pago con tarjetas</mat-radio-button>
      <img src="assets/img/icons/payment.png">
    </div>
  </mat-radio-group>
  <div class="d-flex justify-content-center">
    <button mat-flat-button color="primary" class="w-50 my-4" [mat-dialog-close]="true">
      Realizar orden
    </button>
  </div>
</app-dialog>
